.container {
    width: 400px;
    height: 410px;
    background-color: hsl(0, 0%, 80%);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
    .container>* {
        width: 90%;
        text-align: center;
    }
input[type="submit"] {
    margin: 5px;
}
input[type="text"] {
    margin-left: 5px;
    margin-bottom: 5px;
}
.long-text {
    width: 250px;
}
.field-text{
    width: 90px;
    height: 15px;
}
