body{
  background-color: black;
}
/* Banner */
#banner{
  color: #cc8500;
  text-align: center;
  font-size: 0.9em;
}
#banner h1{
  margin: 0px;
  text-decoration: underline;
}
#banner ul{
  text-align: left;
  display: inline-block;
  margin: 0px;
  list-style-type: none;
}
/* NavBar */
#navbar{
  width: 12em;
  margin-left: 10px;
  top: 15px;
  position: absolute;
}
#navbar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#navbar a,
#navbar h2{
  /* Style the list contents */
  color: orange;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.4em;
  background-color: black;
  font-family: arial, helvetica, sans-serif;
  text-decoration: none;
  border: 1px solid orange;
  margin: 0;
  padding: 2px 10px;
}
#navbar h2{
  text-align: center;
}
#navbar a{
  display: block;
}
#navbar a:hover,
#navbar h2:hover{
  /* Reverse colors on hover */
  background-color: orange;
  color: black;
}
#navbar li{
  position: relative;
}
#navbar ul ul{
  position: absolute;
  top: 0px;
  left: 100%;
  min-width: 100%;
  display: none;
}
#navbar ul li:hover ul{
  display: inline-block;
  white-space: nowrap;
}